
/* 	Mobile styles, yeah?
/* ======================================= */

h1 {
    margin:0 0 15px 0
}

h2 {
    padding: 0 20px;
    line-height: 32px
}

#bants-list ul li {
    display: block;
    width: 100%;
}
