

body, html {
    background: #fff;
    padding: 0;
    margin: auto;
}

canvas {
    position: absolute;
    display: block;
    margin: 0;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#bottle {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;   
    top: 20px;
    background: transparent url('../img/bottle-overlay.png') center -55px no-repeat;
}